* {
  box-sizing: border-box;
}

.results {
  margin: 0 0 50px 0;
  padding: 0;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*justify-content: flex-start;*/
}

.instructions {
  text-align: center;
  font-size: medium;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  flex-direction: column;
}

.btn_start {
  border-radius: 8px;
  background-color: blueviolet;
  color: white;
}

.btn_start:hover {
  border-radius: 8px;
  background-color: palevioletred;
  color: white;
}

.questions {
  text-align: center;
  font-size: medium;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  flex-direction: column;
}

.btn_one {
  border-radius: 8px;
  background-color: blueviolet;
  color: white;
}

.btn_one:hover {
  border-radius: 8px;
  background-color: palevioletred;
  color: white;
}
